@import 'settings';
.c-game__board {
  margin: 0 auto;
  padding: 3px;
  background: $color-secondary-2-1;
  border-radius: 3px;
  list-style: none;
  @media (min-width: 50em) {
    border: 2px solid $color-gun-metal;
    border-left: 0;
    border-bottom: 0;
    padding: 5px;
  }


}

.frame {
  border-collapse: separate;
  border-spacing: 0 0;
  border-radius: 5px;
  display: block;
}

.frame.Lost,
.frame.Won {
  opacity: .3;
}
.row {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 0;
  td {
    width: 10px;
    height: 10px;
  }
}
