@import "settings";

*{
  box-sizing: border-box;
}

html{
  height: 100%;
}

body {
  // background: $color-secondary-2-1;
  // background: linear-gradient(to bottom right, #fddb92,#d1fdff);
  // background: linear-gradient(to bottom right,   #fff1eb,#ace0f9);
  // background: linear-gradient(to bottom, #a3bded,#6991c7);
  // background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  // background-image: linear-gradient(to top, #c71d6f, #d09693);
  // background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  // background: linear-gradient(-180deg, #BCC5CE 0%, #929EAD 98%), radial-gradient(at top left, rgba(255,255,255,0.30) 0%, rgba(0,0,0,0.30) 100%);
  //  background-blend-mode: screen;
  //  background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
  //  background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
  //  background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
  height: 100%;
  margin: 2px;
  animation: 180s background_swatch infinite;

}


@keyframes background_swatch {
  0% { background-color: #f6f3ff; }
  25% { background-color: #e7f0fd;}
  50% { background-color: #d1fdff;}
  75% { background-color: #deecdd;}
  100% { background-color: #f6f3ff;}
}

.svg-sprite {
  display: none;
}
.container{
  margin: 0 auto;
  padding: 5px;
  padding-top: 0;
  border-radius: 10px;
  @media(min-width: 40em) {
    padding: 10px;
    box-shadow: 0;
  }
  width: 100%;
  text-align: center;
}

.c-app__container {
  text-align: center;
  display: inline-block;
}
.brand{
  font-size: 3em;
  margin: 0 auto 10px auto;
  text-align: center;
  color: $color-secondary-2-0;
  text-shadow: 0 -1px 1px $color-secondary-2-3,
    -1px -2px 1px $color-secondary-2-4,
    -1px -1px 13px $color-white;
}
