 .player_status {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    margin-top: 5px;
    max-width: 500px;
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    flex: 4;
    border-radius: 3px;
    border: 1px solid purple;
    margin: 2px;
    svg {
      flex: 2;
      fill: #992E69;
    }
    span {
      flex: 3;
      display: inline-block;
    }
  }

  .status_weapon{
    flex: 5;
  }
    .toggle_light {
      flex: 2;
    }
  &.Lost{
    .status_health {
      background: #d99;
    }
  }

 }

.status {
  height: 100%;
  padding: 2px;
  background: #992E69;
  &.icon {
  width: 24px  ;
  height: 24px;
  fill: white;
  }
  .toggle_light & {
    width: 100%;
  }
}
