* {
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  height: 100%;
  margin: 2px;
  animation: 180s background_swatch infinite; }

@keyframes background_swatch {
  0% {
    background-color: #f6f3ff; }
  25% {
    background-color: #e7f0fd; }
  50% {
    background-color: #d1fdff; }
  75% {
    background-color: #deecdd; }
  100% {
    background-color: #f6f3ff; } }

.svg-sprite {
  display: none; }

.container {
  margin: 0 auto;
  padding: 5px;
  padding-top: 0;
  border-radius: 10px;
  width: 100%;
  text-align: center; }
  @media (min-width: 40em) {
    .container {
      padding: 10px;
      box-shadow: 0; } }

.c-app__container {
  text-align: center;
  display: inline-block;
  position: relative; }

.brand {
  font-size: 2em;
  margin: 0 auto 10px auto;
  text-align: center;
  color: #B44E86;
  text-shadow: 0 -1px 1px #992E69, -1px -2px 1px #7B154D, -1px -1px 13px #fff; }
