.player_status {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-top: 5px;
  max-width: 500px; }
  .player_status li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    flex: 4;
    border-radius: 3px;
    border: 1px solid purple;
    margin: 2px; }
    .player_status li svg {
      flex: 2;
      fill: #992E69; }
    .player_status li span {
      flex: 3;
      display: inline-block; }
  .player_status .status_weapon {
    flex: 5; }
  .player_status .toggle_light {
    flex: 2; }
  .player_status.Lost .status_health {
    background: #d99; }

.status {
  height: 100%;
  padding: 2px;
  background: #992E69; }
  .status.icon {
    width: 24px;
    height: 24px;
    fill: white; }
  .toggle_light .status {
    width: 100%; }
