div[class^="c-result"] {
  position: absolute;
  width: 300px;
  height: 185px;
  border-radius: 10px;
  opacity: .9;
  z-index: 1000;
  top: 220px;
  left: 105px;
  text-align: center;
  padding: 20px; }
  div[class^="c-result"] h2 {
    color: white;
    font-weight: bold;
    font-size: 2em; }
  div[class^="c-result"] button {
    padding: 5px 10px;
    border-radius: 3px;
    border: 2px solid white;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer; }

.c-result--lost {
  background: darkred; }
  .c-result--lost button {
    background-color: red;
    background: linear-gradient(to bottom, pink, red); }

.c-result--won {
  background: darkgreen; }
  .c-result--won button {
    background-color: green;
    background: linear-gradient(to bottom, limegreen, green); }

.c-result--ongoing {
  display: none; }
